In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv(r"C:\Users\Varshini V\Downloads\archive (2)\fraudTrain.csv", encoding='ISO-8859-1')

In [5]:
data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [6]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [7]:
data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [8]:
# Example imputation for numeric columns
data['city_pop'].fillna(data['city_pop'].median(), inplace=True)
data['unix_time'].fillna(data['unix_time'].median(), inplace=True)
data['merch_lat'].fillna(data['merch_lat'].median(), inplace=True)
data['merch_long'].fillna(data['merch_long'].median(), inplace=True)
data['is_fraud'].fillna(0, inplace=True)  # Assuming is_fraud is a binary variable

In [9]:
data.dropna(subset=['unix_time', 'merch_lat', 'merch_long', 'is_fraud'], inplace=True)

In [10]:
# Check for missing values in the entire dataset
missing_values = data.isnull().sum()
print(missing_values)

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [11]:
data.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [12]:
X = data.drop('is_fraud', axis=1)  # Assuming 'is_fraud' is the target variable
y = data['is_fraud']

In [13]:
data['Unnamed: 0'],unnamed_name=pd.factorize(data['Unnamed: 0'])
print(unnamed_name)

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,
       ...
       1296665, 1296666, 1296667, 1296668, 1296669, 1296670, 1296671, 1296672,
       1296673, 1296674],
      dtype='int64', length=1296675)

In [14]:
data['Unnamed: 0'],unnamed_name=pd.factorize(data['Unnamed: 0'])
print(unnamed_name)

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,
       ...
       1296665, 1296666, 1296667, 1296668, 1296669, 1296670, 1296671, 1296672,
       1296673, 1296674],
      dtype='int64', length=1296675)

In [15]:
data['category'],category_name=pd.factorize(data['category'])
print(category_name)

Index(['misc_net', 'grocery_pos', 'entertainment', 'gas_transport', 'misc_pos',
       'grocery_net', 'shopping_net', 'shopping_pos', 'food_dining',
       'personal_care', 'health_fitness', 'travel', 'kids_pets', 'home'],
      dtype='object')

In [16]:
data['trans_date_trans_time'],time_name=pd.factorize(data['trans_date_trans_time'])
print(time_name)

Index(['2019-01-01 00:00:18', '2019-01-01 00:00:44', '2019-01-01 00:00:51',
       '2019-01-01 00:01:16', '2019-01-01 00:03:06', '2019-01-01 00:04:08',
       '2019-01-01 00:04:42', '2019-01-01 00:05:08', '2019-01-01 00:05:18',
       '2019-01-01 00:06:01',
       ...
       '2020-06-21 12:08:42', '2020-06-21 12:09:22', '2020-06-21 12:10:56',
       '2020-06-21 12:11:23', '2020-06-21 12:11:36', '2020-06-21 12:12:08',
       '2020-06-21 12:12:19', '2020-06-21 12:12:32', '2020-06-21 12:13:36',
       '2020-06-21 12:13:37'],
      dtype='object', length=1274791)

In [17]:
data['amt'],amt_name=pd.factorize(data['amt'])
print(amt_name)

Index([  4.97, 107.23, 220.11,   45.0,  41.96,  94.63,  44.54,  71.65,   4.27,
       198.39,
       ...
       287.24, 658.98, 645.13, 303.63, 326.99, 571.71, 223.71, 754.81, 374.71,
       255.52],
      dtype='float64', length=52928)

In [18]:
data['merchant'],merchant_name=pd.factorize(data['merchant'])
print(merchant_name)

Index(['fraud_Rippin, Kub and Mann', 'fraud_Heller, Gutmann and Zieme',
       'fraud_Lind-Buckridge', 'fraud_Kutch, Hermiston and Farrell',
       'fraud_Keeling-Crist', 'fraud_Stroman, Hudson and Erdman',
       'fraud_Rowe-Vandervort', 'fraud_Corwin-Collins', 'fraud_Herzog Ltd',
       'fraud_Schoen, Kuphal and Nitzsche',
       ...
       'fraud_Kohler, Lindgren and Koelpin', 'fraud_Heller-Abshire',
       'fraud_Swift, Bradtke and Marquardt',
       'fraud_Larson, Quitzon and Spencer',
       'fraud_Kilback, Nitzsche and Leffler', 'fraud_Jakubowski Group',
       'fraud_Breitenberg LLC', 'fraud_Collier Inc', 'fraud_Paucek-Wiza',
       'fraud_Kessler Group'],
      dtype='object', length=693)

In [19]:
data['zip'],zip_name=pd.factorize(data['zip'])
print(zip_name)

Index([28654, 99160, 83252, 59632, 24433, 18917, 67851, 22824, 15665, 37040,
       ...
       35896, 37887, 48054, 53045, 94508, 18446, 78644, 39562, 21657,  4032],
      dtype='int64', length=970)

In [20]:
data['lat'],lat_name=pd.factorize(data['lat'])
print(lat_name)

Index([36.0788, 48.8878, 42.1808, 46.2306, 38.4207,  40.375, 37.9931, 38.8432,
       40.3359,  36.522,
       ...
       34.7543, 36.1016, 42.7769, 43.0668, 38.5769, 41.6412, 29.8868, 30.5471,
       38.9456,  43.857],
      dtype='float64', length=968)

In [21]:
data['long'],long_name=pd.factorize(data['long'])
print(long_name)

Index([          -81.1781,          -118.2105,           -112.262,
                -112.1138,           -79.4629,           -75.2045,
                -100.9893,           -78.6003,           -79.6607,
       -87.34899999999999,
       ...
                 -86.6546,           -84.5652,           -82.5437,
                 -88.1469,          -122.4477,           -75.7641,
                 -97.6769,           -88.4927,           -75.9777,
                 -70.1031],
      dtype='float64', length=969)

In [22]:
data['city_pop'],city_name=pd.factorize(data['city_pop'])
print(city_name)

Index([  3495,    149,   4154,   1939,     99,   2158,   2691,   6018,   1472,
       151785,
       ...
        20133,   7511,   7339,  41111,   3661,   3733,  17081,  31702,    777,
         7879],
      dtype='int64', length=879)

In [23]:
data['unix_time'],unix_name=pd.factorize(data['unix_time'])
print(unix_name)

Index([1325376018, 1325376044, 1325376051, 1325376076, 1325376186, 1325376248,
       1325376282, 1325376308, 1325376318, 1325376361,
       ...
       1371816522, 1371816562, 1371816656, 1371816683, 1371816696, 1371816728,
       1371816739, 1371816752, 1371816816, 1371816817],
      dtype='int64', length=1274823)

In [24]:
data['merch_lat'],merch_name=pd.factorize(data['merch_lat'])
print(merch_name)

Index([         36.011293,          49.159047,          43.150704,
                47.034331,          38.674999,          40.653382,
                37.162705,          38.948089,          40.351813,
                37.179198,
       ...
                43.808957,          44.938461, 27.465871000000003,
                31.377697,          41.728638,          36.841266,
                38.906881,          33.619513,           42.78894,
                46.565983],
      dtype='float64', length=1247805)

In [25]:
data['merch_long'],long_name=pd.factorize(data['merch_long'])
print(long_name)

Index([         -82.048315,         -118.186462,         -112.154481,
               -112.561071,          -78.632459,  -76.15266700000001,
                -100.15337,          -78.540296,          -79.958146,
                -87.485381,
       ...
                -83.996234,          -88.092339,          -81.511804,
                 -90.52845,           -99.03966, -111.69076499999998,
                -78.246528,         -105.130529,          -103.24116,
                -114.18611],
      dtype='float64', length=1275745)

In [26]:
data['is_fraud'],fraud_name=pd.factorize(data['is_fraud'])
print(fraud_name)

Index([0, 1], dtype='int64')

In [27]:
data['first'],first_name=pd.factorize(data['first'])
print(first_name)

Index(['Jennifer', 'Stephanie', 'Edward', 'Jeremy', 'Tyler', 'Kelsey',
       'Steven', 'Heather', 'Melissa', 'Eddie',
       ...
       'Calvin', 'Austin', 'Dennis', 'Phyllis', 'Arthur', 'Traci', 'Deanna',
       'Samantha', 'Meagan', 'Cameron'],
      dtype='object', length=352)

In [28]:
data['last'],last_name=pd.factorize(data['last'])
print(last_name)

Index(['Banks', 'Gill', 'Sanchez', 'White', 'Garcia', 'Conner', 'Richards',
       'Williams', 'Chase', 'Aguilar',
       ...
       'Santiago', 'Mathews', 'Schaefer', 'Le', 'Contreras', 'Sellers',
       'Wells', 'Brewer', 'Strong', 'Peterson'],
      dtype='object', length=481)

In [29]:
data['street'],street_name=pd.factorize(data['street'])
print(street_name)

Index(['561 Perry Cove', '43039 Riley Greens Suite 393',
       '594 White Dale Suite 530', '9443 Cynthia Court Apt. 038',
       '408 Bradley Rest', '4655 David Island', '889 Sarah Station Suite 624',
       '231 Flores Pass Suite 720', '6888 Hicks Stream Suite 954',
       '21326 Taylor Squares Suite 708',
       ...
       '754 Elliott Creek', '20788 Johnson Crest', '8611 Tricia Fork',
       '554 Harrell Ferry Suite 533', '44417 Williams Manors',
       '4177 Rosales Summit Apt. 973', '1206 Juan Fort Suite 424',
       '33010 Ford Harbor Apt. 887', '10376 Bullock Rapid',
       '9383 Garrison Inlet Apt. 548'],
      dtype='object', length=983)

In [30]:
data['job'],job_name=pd.factorize(data['job'])
print(job_name)

Index(['Psychologist, counselling', 'Special educational needs teacher',
       'Nature conservation officer', 'Patent attorney',
       'Dance movement psychotherapist', 'Transport planner',
       'Arboriculturist', 'Designer, multimedia', 'Public affairs consultant',
       'Pathologist',
       ...
       'Industrial buyer', 'Accountant, chartered', 'Air traffic controller',
       'Careers adviser', 'Information officer', 'Ship broker',
       'Legal secretary', 'Homeopath', 'Solicitor', 'Warehouse manager'],
      dtype='object', length=494)

In [31]:
data['dob'],dob_name=pd.factorize(data['dob'])
print(dob_name)

Index(['1988-03-09', '1978-06-21', '1962-01-19', '1967-01-12', '1986-03-28',
       '1961-06-19', '1993-08-16', '1947-08-21', '1941-03-07', '1974-03-28',
       ...
       '1930-06-26', '1943-08-04', '1962-01-24', '1940-07-30', '1970-01-09',
       '1963-03-14', '1954-07-07', '1934-05-24', '1997-04-17', '1949-12-22'],
      dtype='object', length=968)

In [32]:
data['trans_num'],trans_name=pd.factorize(data['trans_num'])
print(trans_name)

Index(['0b242abb623afc578575680df30655b9', '1f76529f8574734946361c461b024d99',
       'a1a22d70485983eac12b5b88dad1cf95', '6b849c168bdad6f867558c3793159a81',
       'a41d7549acf90789359a9aa5346dcb46', '189a841a0a8ba03058526bcfe566aab5',
       '83ec1cc84142af6e2acf10c44949e720', '6d294ed2cc447d2c71c7171a3d54967c',
       'fc28024ce480f8ef21a32d64c93a29f5', '3b9014ea8fb80bd65de0b1463b00b00e',
       ...
       '108c103b26f686c24c021aaf4210977e', '37a18c6fb0c5c722b6339ffedc82f55a',
       '34e72e0a659a6c8f4a20ee65594f3a7d', '0d86d8c17638d7eff77db9c6a878b477',
       '9a7ea2625cf8303efe34e3c09546868f', '440b587732da4dc1a6395aba5fb41669',
       '278000d2e0d2277d1de2f890067dcc0a', '483f52fe67fabef353d552c1e662974c',
       'd667cdcbadaaed3da3f4020e83591c83', '8f7c8e4ab7f25875d753b422917c98c9'],
      dtype='object', length=1296675)

In [33]:
data['gender'],gender_name=pd.factorize(data['gender'])
print(gender_name)

Index(['F', 'M'], dtype='object')

In [34]:
data['city'],city_name=pd.factorize(data['city'])
print(city_name)

Index(['Moravian Falls', 'Orient', 'Malad City', 'Boulder', 'Doe Hill',
       'Dublin', 'Holcomb', 'Edinburg', 'Manor', 'Clarksville',
       ...
       'Streator', 'Wartburg', 'East China', 'Brookfield', 'Angwin',
       'Nicholson', 'Lockhart', 'Moss Point', 'Queen Anne', 'Freeport'],
      dtype='object', length=894)

In [35]:
data['state'],state_name=pd.factorize(data['state'])
print(state_name)

Index(['NC', 'WA', 'ID', 'MT', 'VA', 'PA', 'KS', 'TN', 'IA', 'WV', 'FL', 'CA',
       'NM', 'NJ', 'OK', 'IN', 'MA', 'TX', 'WI', 'MI', 'WY', 'HI', 'NE', 'OR',
       'LA', 'DC', 'KY', 'NY', 'MS', 'UT', 'AL', 'AR', 'MD', 'GA', 'ME', 'AZ',
       'MN', 'OH', 'CO', 'VT', 'MO', 'SC', 'NV', 'IL', 'NH', 'SD', 'AK', 'ND',
       'CT', 'RI', 'DE'],
      dtype='object')

In [36]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [38]:
feature_names = x.columns

In [39]:
from sklearn import tree, metrics
dtree=tree.DecisionTreeClassifier(criterion='gini')#entrophy or gini
dtree.fit(x_train,y_train)

DecisionTreeClassifier()

In [40]:
y_pred = dtree.predict(x_test)

In [41]:
accuracy = accuracy_score(y_test, y_pred)

In [43]:
print("Decision Tree Model:")
print("Accuracy:", accuracy)

Decision Tree Model:
Accuracy: 0.9942031295388467

In [44]:
classification_rep = classification_report(y_test, y_pred)

In [45]:
print("Decision Tree Model:")
print("Accuracy:", accuracy)

Decision Tree Model:
Accuracy: 0.9942031295388467

In [46]:
print("Classification Report:")
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    386727
           1       0.50      0.57      0.54      2276

    accuracy                           0.99    389003
   macro avg       0.75      0.78      0.77    389003
weighted avg       0.99      0.99      0.99    389003